body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.paginaEncabezado {
    background-color: #ff704d;
    color: white;
    padding: 20px;
    text-align: center;
}

.paginaEncabezado a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.paginaPie {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.receta {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

.receta img {
    max-width: 100%;
    border-radius: 10px;
}


.otrasRecetas .receta {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.formulario {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formulario label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.formulario input,
.formulario textarea,
.formulario select,
.formulario button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formulario label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.formulario input,
.formulario textarea,
.formulario select,
.formulario button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}